<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <p>Criação de usuário</p>
        </div>
        <div class="card-body">
            <form action="/users/create" method="POST">
                <input class="form-control" type="email" name="email" placeholder="email@email.com">
                <hr>
                <input class="form-control" type="password" name="password" placeholder="**********">
                <br>
                <button class="btn btn-success btn-block">Criar</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>
